﻿@using CrudBasic.Web.Models;
@model IEnumerable<ClienteViewModel>

@{
    ViewBag.Title = "Clientes";
}

<h2>Clientes</h2>
<link href="~/Scripts/jquery-ui-1.12.1/jquery-ui.theme.css" rel="stylesheet" />
<link href="~/Scripts/jquery-ui-1.12.1/jquery-ui.structure.css" rel="stylesheet" />
<link href="~/Scripts/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet" />
<p>
    <button class="ui-button ui-widget ui-corner-all" onclick="@("window.location.href='" + @Url.Action("Create", "Clientes") + "'");">Novo Cliente</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bairro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uf)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uf)
            </td>
            <td>
                <button class="ui-button ui-widget ui-corner-all" onclick="@("window.location.href='" + @Url.Action("Edit/"+item.Id, "Clientes") + "'");">Editar</button>
                <button class="ui-button ui-widget ui-corner-all" onclick="@("window.location.href='" + @Url.Action("Details/"+item.Id, "Clientes") + "'");">Detalhes</button>
                <button class="ui-button ui-widget ui-corner-all" onclick="@("window.location.href='" + @Url.Action("Delete/"+item.Id, "Clientes") + "'");">Excluir</button>
            </td>
        </tr>
    }
</table>
<script src="~/Scripts/Class.js"></script>
<script src="~/Scripts/Configuration.js"></script>
<script src="~/Scripts/ViewModels/ClienteEditViewModel.js"></script>
