﻿@model CrudBasic.Web.Models.ProdutoViewModel

@{
    ViewBag.Title = "Produto";
}

<h2>Detalhes do Produto</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodigoBarra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoBarra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

    </dl>
</div>
<p>
    <button class="ui-button ui-widget ui-corner-all" onclick="@("window.location.href='" + @Url.Action("Edit/"+Model.Id, "Produtos") + "'");">Editar</button>
    <button class="ui-button ui-widget ui-corner-all" onclick="@("window.location.href='" + @Url.Action("Index", "Produtos")+"'");">Voltar</button>
</p>
<script src="~/Scripts/Class.js"></script>
<script src="~/Scripts/Configuration.js"></script>
<script src="~/Scripts/ViewModels/ProdutoEditViewModel.js"></script>
<script type="text/javascript">
    ko.applyBindings(new window.CB.Models.ProdutoEditViewModel());
</script>
