﻿@model CrudBasic.Web.Models.ProdutoViewModel

@{
    ViewBag.Title = "Produto";
}

<h2>Alterar Dados do Produto</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.CodigoBarra, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CodigoBarra, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CodigoBarra, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Valor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Valor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Valor, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}
<div class="col-md-offset-2 col-md-10">
    <button class="ui-button ui-widget ui-corner-all" data-bind="click: Salvar">Salvar</button>
    <button class="ui-button ui-widget ui-corner-all" onclick="@("window.location.href='" + @Url.Action("Index", "Produtos")+"'");">Cancelar</button>
</div>
<div style="display: none">
    <div id="dialog-confirm" title="Confirmação">
        <p data-bind="text: messageConfirmacao"><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span></p>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/Class.js"></script>
<script src="~/Scripts/Configuration.js"></script>
<script src="~/Scripts/ViewModels/ProdutoEditViewModel.js"></script>
<script type="text/javascript">
    ko.applyBindings(new window.CB.Models.ProdutoEditViewModel());
</script>