﻿@model IEnumerable<CrudBasic.Web.Models.ProdutoViewModel>

@{
    ViewBag.Title = "Produtos";
}
<h2>Produtos</h2>
<link href="~/Scripts/jquery-ui-1.12.1/jquery-ui.theme.css" rel="stylesheet" />
<link href="~/Scripts/jquery-ui-1.12.1/jquery-ui.structure.css" rel="stylesheet" />
<link href="~/Scripts/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet" />

<p>
    <button class="ui-button ui-widget ui-corner-all" onclick="@("window.location.href='" + @Url.Action("Create", "Produtos") + "'");">Novo Produto</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodigoBarra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoBarra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                <button class="ui-button ui-widget ui-corner-all" onclick="@("window.location.href='" + @Url.Action("Edit/"+item.Id, "Produtos") + "'");">Editar</button>
                <button class="ui-button ui-widget ui-corner-all" onclick="@("window.location.href='" + @Url.Action("Details/"+item.Id, "Produtos") + "'");">Detalhes</button>
                <button class="ui-button ui-widget ui-corner-all" onclick="@("window.location.href='" + @Url.Action("Delete/"+item.Id, "Produtos") + "'");">Excluir</button>
            </td>
        </tr>
    }
</table>
<script src="~/Scripts/Class.js"></script>
<script src="~/Scripts/Configuration.js"></script>
<script src="~/Scripts/ViewModels/ProdutoEditViewModel.js"></script>
